section {
    font-family: sans-serif;
    width: 50%;
}

img:first-of-type {
    width: 300px;
    /* clip-path: polygon(0 0, 85% 0, 85% 64%, 100% 64%, 100% 100%, 0 100%); */
    shape-outside: polygon(0 0, 85% 0, 85% 64%, 100% 64%, 100% 100%, 0 100%);
    float: left;
}
img:last-of-type {
    width: 300px;
    /* clip-path: polygon(0 100%, 0 60%, 26% 59%, 26% 0, 100% 0, 100% 97%); */
    shape-outside: polygon(0 100%, 0 60%, 26% 59%, 26% 0, 100% 0, 100% 97%);
    clear: left;
    float: right;
}